---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/search?key=<YOUTUBE_API_KEY>&part=snippet&q=how%2Bto%2Bdraw%2Bfox&safeSearch=strict
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "_2XAbx1Bu261n5CwBzXB4MDFrys",
          "nextPageToken": "CAUQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 1000000,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "WYDuJ3Thtcr-_sSDwpbKIxmvTRo",
              "id": {
                "kind": "youtube#video",
                "videoId": "YQA38wrB8I8"
              },
              "snippet": {
                "publishedAt": "2018-08-30T16:24:03Z",
                "channelId": "UC5XMF3Inoi8R9nSI8ChOsdQ",
                "title": "How To Draw A Cute Fox",
                "description": "Learn how to draw a cute fox! ART SUPPLIES we love (Amazon affiliate links): Sharpie Markers http://a.co/76TMEpK Printer ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/YQA38wrB8I8/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/YQA38wrB8I8/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/YQA38wrB8I8/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Art for Kids Hub",
                "liveBroadcastContent": "none",
                "publishTime": "2018-08-30T16:24:03Z"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "POotSdCvQcKgTtBIBSkWgHQVqYo",
              "id": {
                "kind": "youtube#video",
                "videoId": "VlhLEhJEWpE"
              },
              "snippet": {
                "publishedAt": "2021-07-04T15:06:09Z",
                "channelId": "UC0glsvb60s6kg58G3LxEglA",
                "title": "Watch me PET a  wild FOX! | #shorts",
        [...]
