---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/search?key=<YOUTUBE_API_KEY>&part=snippet&q=how%2Bto%2Bdraw%2Bwolf&safeSearch=strict
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "vcDgGWk5suVJpM0unRNae9OQViU",
          "nextPageToken": "CAUQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 1000000,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "4ye2OuJyTPW7i2QozAIsdyeFs20",
              "id": {
                "kind": "youtube#video",
                "videoId": "6nQBMmyVspA"
              },
              "snippet": {
                "publishedAt": "2017-06-20T16:46:14Z",
                "channelId": "UC5XMF3Inoi8R9nSI8ChOsdQ",
                "title": "How To Draw A Realistic Wolf",
                "description": "Learn how to draw a realistic wolf! Grab a marker, paper, and two colored pencils (grey and black) then follow along with me.",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/6nQBMmyVspA/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/6nQBMmyVspA/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/6nQBMmyVspA/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Art for Kids Hub",
                "liveBroadcastContent": "none",
                "publishTime": "2017-06-20T16:46:14Z"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "Xdu1oWx3wZvz9s-BLuskyNBg66c",
              "id": {
                "kind": "youtube#video",
                "videoId": "me_kF0tMH34"
              },
              "snippet": {
                "publishedAt": "2022-09-13T19:00:27Z",
                "channelId": "UCHa-w2uf3NmywqSkA4mV-JQ",
                "title": "EASY How to Draw HOWLING WOLF MOON",
         [...]
