---
http_interactions:
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/animals?name=fox
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<ANIMAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 61934036-c66f-4f99-a5e8-06f6d0e9f523
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - A_WLtGyUvHcEKMw=
    body:
      encoding: UTF-8
      string: '[{"name": "American Foxhound", "taxonomy": {"kingdom": "Animalia",
        "phylum": "Chordata", "class": "Mammalia", "order": "Carnivora", "family":
        "Canidae", "genus": "Canis", "scientific_name": "Canis lupus"}, "locations":
        ["North-America"], "characteristics": {"distinctive_feature": "Long legs and
        wide, flat ears", "temperament": "Mix of affectionate, loving, and stubborn",
        "training": "Medium", "diet": "Omnivore", "average_litter_size": "7", "type":
        "Hound", "common_name": "American Foxhound", "slogan": "Sweet, kind, loyal,
        and very loving!", "group": "Dog", "color": "BlackWhiteTan", "skin_type":
        "Hair", "lifespan": "10 to 12 years"}}, {"name": "Arctic Fox", "taxonomy":
        {"kingdom": "Animalia", "phylum": "Chordata", "class": "Mammalia", "order":
        "Carnivora", "family": "Canidae", "genus": "Vulpes", "scientific_name": "Vulpes
        lagopus"}, "locations": ["Eurasia", "Europe", "North-America"], "characteristics":
        {"main_prey": "Lemmings, voles, hares, other small rodents, berries, insects",
        "name_of_young": "kit", "distinctive_feature": "Thick fur that changes colour
        with season", "habitat": "Polar forest regions", "predators": "Snowy Owl,
        Wolf, Polar Bear", "diet": "Carnivore", "average_litter_size": "5", "lifestyle":
        "Solitary", "favorite_food": "Lemmings", "type": "Mammal", "slogan": "Extremely
        thick winter fur!", "color": "GreyBlackWhite", "skin_type": "Fur", "top_speed":
        "30 mph", "lifespan": "7 - 10 years", "weight": "1.4kg - 9.4kg (3lbs - 21lbs)",
        "length": "70cm - 110cm (28in - 43in)"}}, {"name": "Cross Fox", "taxonomy":
        {"kingdom": "Animalia", "phylum": "Chordata", "class": "Mammalia", "order":
        "Carnivora", "family": "Canidae", "genus": "Vulpes", "scientific_name": "Vulpes
        vulpes"}, "locations": ["North-America"], "characteristics": {"prey": "Birds,
        small mammals, insects, spiders, worms, reptiles", "name_of_young": "Cub,
        pup, kit", "group_behavior": "Solitary", "estimated_population_size": "Tens
        of thousands", "biggest_threat": "Humans, wolves, coyotes, mountain lions,
        eagles, bears", "most_distinctive_feature": "The cross on its back.", "gestation_period":
        "49 to 55 days", "litter_size": "5-13 cubs", "habitat": "Forests, prairies,
        deserts, mountains, cities, suburbs, tundra, scrub, near rivers, farms", "predators":
        "Gray wolves, coyotes, eagles, bears, humans and cougars", "diet": "Carnivore",
        "type": "mammal", "common_name": "cross fox", "location": "North America and
        Canada", "color": "RedBlackSilver", "skin_type": "Fur", "top_speed": "31 mph",
        "lifespan": "10 to 15 years in captivity, seven years in the wild", "height":
        "14 to 20 inches", "length": "18 to 35 inches with 12 to 22 inch long tails,
        males a bit larger", "age_of_sexual_maturity": "10 months", "age_of_weaning":
        "56 to 70 days"}}, {"name": "Darwin\u2019s fox", "taxonomy": {"kingdom": "Animalia",
        "phylum": "Chordata", "class": "Mammalia", "order": "Carnivora", "family":
        "Canidae", "genus": "Lycalopex", "scientific_name": "Lycalopex fulvipes"},
        "locations": ["South-America"], "characteristics": {"prey": "Small mammals,
        reptiles, insects and other invertebrates", "name_of_young": "Pup, cub, kit",
        "group_behavior": "Solitary", "estimated_population_size": "639 adults, conservation
        status endangered", "biggest_threat": "Habitat fragmentation, feral and domesticated
        dogs", "most_distinctive_feature": "Its small size", "other_name(s)": "Darwin''s
        zorro, zorro chilote, zorro de Darwin", "gestation_period": "Perhaps two months",
        "litter_size": "Two to three", "habitat": "Temperate rainforests, shrubland",
        "diet": "Omnivore", "type": "Mammal", "number_of_species": "1", "location":
        "Chile", "color": "GreyRedBlack", "skin_type": "Fur", "top_speed": "45 mph",
        "lifespan": "Seven years", "weight": "4 to 8.7 pounds", "length": "20.79 inches",
        "age_of_sexual_maturity": "About one year", "age_of_weaning": "About two months"}},
        {"name": "English Foxhound", "taxonomy": {"kingdom": "Animalia", "phylum":
        "Chordata", "class": "Mammalia", "order": "Carnivora", "family": "Canidae",
        "genus": "Canis", "scientific_name": "Ca[...]
- request:
    method: get
    uri: https://api.pexels.com/v1/search?query=fox
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<PEXEL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b6789145394d281fc0b9870eef80205e"
      X-Ratelimit-Limit:
      - '25000'
      X-Ratelimit-Remaining:
      - '21888'
      X-Ratelimit-Reset:
      - '1733358131'
    body:
      encoding: UTF-8
      string: '{"page":1,"per_page":15,"photos":[{"id":2295744,"width":4525,"height":6623,"url":"https://www.pexels.com/photo/photo-of-fox-sitting-on-ground-2295744/","photographer":"Alex
        Andrews","photographer_url":"https://www.pexels.com/@alex-andrews-271121","photographer_id":271121,"avg_color":"#57534C","src":{"original":"https://images.pexels.com/photos/2295744/pexels-photo-2295744.jpeg","large2x":"https://images.pexels.com/photos/2295744/pexels-photo-2295744.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/2295744/pexels-photo-2295744.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/2295744/pexels-photo-2295744.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/2295744/pexels-photo-2295744.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/2295744/pexels-photo-2295744.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/2295744/pexels-photo-2295744.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/2295744/pexels-photo-2295744.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false,"alt":"Photo
        of Fox Sitting On Ground"},{"id":134058,"width":4000,"height":2645,"url":"https://www.pexels.com/photo/brown-and-white-fox-on-green-grass-land-134058/","photographer":"monicore","photographer_url":"https://www.pexels.com/@monicore","photographer_id":37786,"avg_color":"#5F554A","src":{"original":"https://images.pexels.com/photos/134058/pexels-photo-134058.jpeg","large2x":"https://images.pexels.com/photos/134058/pexels-photo-134058.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u002[...]
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/animals?name=wolf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<ANIMAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - d657baaa-b686-4a24-a56a-509b63531f3d
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - A_WLxF79vHcEQyw=
    body:
      encoding: UTF-8
   [...]
- request:
    method: get
    uri: https://api.pexels.com/v1/search?query=wolf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<PEXEL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ac720d14140f527ca668c64bbb450771"
      X-Ratelimit-Limit:
      - '25000'
      X-Ratelimit-Remaining:
      - '21887'
      X-Ratelimit-Reset:
      - '[...]
