---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?query=Rabbit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<PEXEL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c534e56862758e285edd5064078e7fa1"
      X-Ratelimit-Limit:
      - '25000'
      X-Ratelimit-Remaining:
      - '24584'
      X-Ratelimit-Reset:
      - '1730743922'
    body:
      encoding: UTF-8
      string: '{"page":1,"per_page":15,"photos":[{"id":6618592,"width":3024,"height":4032,"url":"https://www.pexels.com/photo/crop-woman-with-rabbit-and-christmas-decorations-6618592/","photographer":"Mariam
        Antadze","photographer_url":"https://www.pexels.com/@sunsetoned","photographer_id":3838865,"avg_color":"#8B857F","src":{"original":"https://images.pexels.com/photos/6618592/pexels-photo-6618592.jpeg","large2x":"https://images.pexels.com/photos/6618592/pexels-photo-6618592.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/6618592/pexels-photo-6618592.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/6618592/pexels-photo-6618592.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/6618592/pexels-photo-6618592.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/6618592/pexels-photo-6618592.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/6618592/pexels-photo-6618592.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/6618592/pexels-photo-6618592.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false,"alt":"Top
        view of unrecognizable female in sweater sitting with cute rabbit during holiday
        on crumpled textile with Christmas baubles and tinsel"},{"id":6845638,"width":5478,"height":3652,"url":"https://www.pexels.com/photo/a-person-holding-a-white-rabbit-6845638/","photographer":"Tima
        Miroshnichenko","photographer_url":"https://www.pexels.com/@tima-miroshnichenko","photographer_id":3088726,"avg_color":"#A49A92","src":{"original":"https://images.pexels.com/photos/6845638/pexel[...]
