---
http_interactions:
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/animals?name=Rabbit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<ANIMAL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 5f000a63-18ad-4a0f-a437-18af05b17c39
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - AsuzqFwoPHcEC-w=
    body:
      encoding: UTF-8
      string: '[{"name": "Rabbit", "taxonomy":
        {"kingdom": "Animalia", "phylum": "Chordata", "class": "Mammalia", "order":
        "Lagomorpha", "family": "Leporidae", "genus": "Oryctolagus", "scientific_name":
        "Oryctolagus cuniculus"}, "locations": ["Africa", "Asia", "Eurasia", "Europe",
        "North-America"], "characteristics": {"main_prey": "Clover, Grass, Crunchy
        vegetables", "habitat": "Forest thickets, meadows and woodland", "predators":
        "Foxes, wolves, bobcats, eagles, owls, coyotes", "diet": "Herbivore", "average_litter_size":
        "6", "lifestyle": "Group", "favorite_food": "Clover", "type": "Mammal", "slogan":
        "There are more than 50 different species!", "color": "BrownGreyBlackWhiteTan",
        "skin_type": "Fur", "top_speed": "2.4 mph", "lifespan": "4-9 years", "weight":
        "0.5-3kg (1.1-6.6lbs)"}}]'
  recorded_at: Mon, 04 Nov 2024 02:02:50 GMT
recorded_with: VCR 6.3.1
