---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/search?key=<YOUTUBE_API_KEY>&part=snippet&q=how%2Bto%2Bdraw%2Bafakenonexistenttestanimal&safeSearch=strict
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "UBAOiXjvY0CZ7Ub9tJDO9bUtsU8",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 0,
            "resultsPerPage": 0
          },
          "items": []
        }
  recorded_at: Tue, 26 Nov 2024 03:23:35 GMT
recorded_with: VCR 6.3.1
